body {
    background-color: gray;
    color: black;
}
h1{
    text-align: center;
    color: #ffff;
    text-shadow: 2px 2px #FF0000;
}
.jumbotron{
    background-color: darkslategray;
    background-attachment: fixed;
}
.well{
    background-color: lightslategrey;
}
.panel{
    background-color: rgb(197, 134, 118);
    
}
#result{
    display: none;
    background-color: lightslategrey;
    height:100px;
    text-align: center;
    font-size: 80px;
}
.btn {
    background-color: rgb(197, 134, 118);
    border: 25px;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    margin-top: 10px;
}
#submit{
    text-align: right;
    padding-top: 400px;
}
